/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.docker
/.dotnet
/.lesshst
/.local
/.profile
/.selected_editor
/.ssh
/.sudo_as_admin_successful
/.vim
/.viminfo
/.vimrc
/.vscode
/.vscode-server
/.wget-hsts
/20251127
/20251128
/20251201
/Desktop
/Documents
/Downloads
/HelloProject
/Music
/Pictures
/Public
/Templates
/Videos
/bin
/core
/dockerfile
/function
/gcc
/hello
/hello-2.8.tar.gz
/hello.c
/hlink
/index.html
/kill_proc.sh
/library
/library_cmake
/ls.err
/ls.out1
/make_dir
/mypasswd1
/shell_script
/snap
/test.log
/tutorialProject
/vol
/yourdesktop
/slink